# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea
target
/.idea/
/Zadanie_1/00_FirstJava/.idea/
/Zadanie_1/00_FirstJava/target/
