.root {
    -fx-background-color: yellow;
}

#startBut {
    -fx-background-radius: 20;
}
/*
.label {
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-font-size: 12pt;
    -fx-font-family: 'Comic Sans MS';
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: black;
}
*/