.root {
    -fx-background-image: url("background.jpg");
}

.radio-button {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: "Bell MT";
}

.button {
    -fx-padding: 10px 15px;
    -fx-text-fill: #fff;
    -fx-background-color: red;
    -fx-background-radius: 15px;
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
}

#startBut {
    -fx-min-width: 100px;
}